Stephen\ Melinyshyn.xcodeproj/xcuserdata/stephen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Essay/
Stephen\ Melinyshyn.xcodeproj/xcuserdata/stephen.xcuserdatad/xcschemes/Stephen\ Melinyshyn.xcscheme
Images/homescreen-shortcuts.sketch
sc1.jpg
sc2.jpg
sc3.jpg
wwdc2016.mov
